body {
    background-image: url(background/background_log_in.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: left; 
    height: 100%;  
    width: 100%; 
}

.logo {
    margin-top: 60px;
    max-width: 100px; 
    margin-bottom: 20px; 
    margin-left: 110px;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-end; 
    width: 100%;
    padding-right: 20px;
    margin-right: 250px;
}  

.btn-1 {
    margin-bottom: 20px;
    height: 70px;
    width: 350px;
    border: none;
    background-color: #c90060;
    color: aliceblue;
    border-radius: 50px;
    font-weight: bold;
}
.btn-1:hover{
    background-color: #a5003f;
    color: aliceblue;
    font-weight: bold;
}
.btn-2{
    height: 70px;
    width: 350px;
    margin-bottom: 20px;
    background-color:#c90060 ;
    color: aliceblue;
    border-color: #c90060;
    border-radius: 50px;
    font-weight: bold;
}
.btn-2:hover{
    background-color: #a5003f;
    color: aliceblue;
    font-weight: bold;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.popup-content img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    object-fit: contain;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    padding: 5px 10px;
    border-radius: 50%;
}

.close-btn:hover {
    background-color: rgba(0, 0, 0, 1);
}

.back-button{
    height: 70px;
    width: 350px;
    background-color:#c90060 ;
    color: aliceblue;
    border-color: #c90060;
    border-radius: 50px;
    font-weight: bold;
}
.back-button:hover{
    background-color: #a5003f;
    color: aliceblue;
    font-weight: bold;
}

#help-content {
    max-height: 70vh;
    overflow-y: auto;
}

